*{
    cursor: default;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

canvas{
    display: flex;
    background-color: white;
    
    cursor: none;
}

.main-menu, .pause-menu{
    position: fixed;
    display: flex;
    width: 320px;
    height: 240px;
    
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.pause-menu{
    display: none;
    background-color: transparent;
    z-index: 1;
}

.title{
    display: flex;
    
    align-items: center;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.button{
    display: flex;
    width: 140px;
    height: 30px;
    
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px 2px #CCC;
    font-size: 14px;
    margin-bottom: 8px;
    padding-left: 50px;
}

.button:hover{
    background-color: #DDD;
}

.button:active{
    background-color: #EEE;
}
